.fee_value {
  display: inline-block;
  width: 220px;
  margin-bottom: 0;
  border-radius: 6px;
  font-size: 18px;
  text-align: left;
  height: 38px;
  padding: 2px 12px;
  line-height: 1.42857143;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-left: 8px;
}

.fee_value:focus {
  border-color: #3898ec;
  outline: 0;
}
